/******* ID *********/
#header {
    background-color: #F0E9D2;
    overflow: hidden;
}

#title {
    background: #678983;
}

#title-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-img {
    max-width: 80%;
    max-height: 80%;
}

#title-description-container {
    margin: 10% 10%;
    text-align: center;
}

#footer {
    background-color: #181D31;
    display: flex;
    justify-content: center;
}

/******* CLASS *********/
.login .btn {
    min-width: 6rem;
}

.login-form {
    width: 40rem;
    padding: 2rem 5rem 5rem 5rem;
    margin: 7rem auto;
    background-color: #181D31;
    margin: #F0E9D2;
}

.btn-dark {
    background-color: black;
    margin: 1rem;
    --bs-btn-hover-bg: black;
}

.btn-outline-light {
    background-color: white;
    color: black;
    margin: 1rem;
}

.nav-item {
    margin: auto 0.5rem;
}

.btn-outline-success {
    --bs-btn-border-color: none;
}

.search-form .btn-outline-success {
    --bs-btn-border-color: #198754;
}

.login .btn-outline-success {
    --bs-btn-border-color: #198754;
}

.me-6 {
    margin-right: 5rem !important;
}

.login-form .btn-outline-success {
    --bs-btn-border-color: #198754;
}

/******* TAG *********/
nav {
    background: #181D31;
}

h1 {
    color: #FFFFFF;
    font-size: 40pt;
    display: flex;
    text-align: center;
    justify-content: center;
}

p {
    color: #FFFFFF;
    font-size: 20pt;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
}

input {
    min-width: 15rem;
}